@margin: 20px;

.advantagies {
  margin: @margin;

  box-sizing: border-box;
  border: 1px dashed red;
}

.advantagies__title {
  // empty
}

.advantagies__list {
  list-style: none;
  padding: 0;
}

.advantagies__item {
  min-height: 50px;
  box-sizing: border-box;
  border: 1px dashed green;
}

.advantagies__text {
  display: block;
}

.advantagies__icon {
  display: block;
  background-color: rgb(104, 183, 56);
  float: left;
  margin-right: @margin;
}

@media (min-width: @width-tablet) {
  @margin: 30px;

  .advantagies {
    margin: @margin;
  }

  .advantagies__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantagies__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 325px;
    padding-right: 80px;
  }

  .advantagies__icon {
    width: 80px;
    align-self: flex-start;
  }
}

@media (min-width: @width-desktop) {
  @margin: 110px;

  .advantagies {
    margin: @margin;
  }

  .advantagies__item {
    width: 245px;
    padding-right: 0;
  }
}
