.advantagies {
  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__text {
    display: block;
  }

  &__icon {
    display: block;
    background-color: rgb(104, 183, 56);
    float: left;
  }
}
