.advantagies {
  margin: 20px;
}

.advantagies__title {
  // empty
}

.advantagies__list {
  list-style: none;
  padding: 0;
}

.advantagies__item {
  // empty
}

.advantagies__text {
  display: block;
}

.advantagies__icon {
  display: block;
  background-color: rgb(104, 183, 56);
  float: left;
  margin-right: 20px;
}
