.article {
  // empty
}

.article__image {
  float: left;
  display: block;
  width: 140px;
}

.article__header {
  text-decoration: none;
}

.article__param-list {
  display: block;
  margin-left: 140px;
  margin-right: 20px;
  outline: 1px dashed red;
}
