.article-extra {
  //empty
}

.article-extra__header {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.article-extra__text {
  display: block;
  float: left;
  padding: 20px 0;
}

.article-extra__price {
  display: block;
  float: right;
  padding: 20px 0;
}

.catalog-extra__link {
  display: block;
  clear: both;
}
