.article-more {
  text-align: center;
  padding: @margin-mobile;
  padding-top: 78px;

  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 30px 30px;
}

.article-more__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.article-more__text {
  margin: 0;
  margin-top: 9px;
  margin-bottom: 21px;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

.article-more__order-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;

  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #f2f2f2;
  color: black;
  padding: 10px;
  margin: 0;
}

/* ************************************************************************* */
@media (min-width: @width-tablet) {
  .article-more {
    padding: 40px 38px 10px;
    padding-top: 164px;

    background-position: center 55px;
    background-size: 60px 60px;
  }

  .article-more__header {
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto;
    width: 175px;
  }

  .article-more__text {
    margin: 26px auto 85px;
    padding: 0;
    width: 175px;
    font-size: 16px;
    line-height: 18px;
  }
}

/* ************************************************************************* */
@media (min-width: @width-desktop) {
  .article-more {
    // empty
  }
}
