.article-more {
  text-align: center;
  padding: @margin-mobile;
  padding-top: 78px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath fill='%23d3d3d3' d='M30 14H16V0h-2v14H0v2h14v14h2V16h14z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 30px 30px;
}

.article-more__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.article-more__text {
  margin: 0;
  margin-top: 9px;
  margin-bottom: 21px;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

.article-more__order-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;

  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #f2f2f2;
  color: black;
  padding: 10px;
  margin: 0;
}

/* ************************************************************************* */
@media (min-width: @width-tablet) {
  .article-more {
    padding: 40px 38px 10px;
    padding-top: 164px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cpath fill='%23e6e6e6' d='M60 29.5H30.5V0h-1v29.5H0v1h29.5V60h1V30.5H60z'/%3E%3C/svg%3E");
    background-position: center 55px;
    background-size: 60px 60px;
  }

  .article-more__header {
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto;
    width: 175px;
  }

  .article-more__text {
    margin: 26px auto 85px;
    padding: 0;
    width: 175px;
    font-size: 16px;
    line-height: 18px;
  }
}

/* ************************************************************************* */
@media (min-width: @width-desktop) {
  .article-more {
    // empty
  }
}
