.article {
  position: relative;
  padding: @margin-mobile;

  .debug();
}

.article__image {
  display: block;
  position: absolute;
  top: -1px;
  left: @margin-mobile - 1px;

  z-index: -10;
}

.article__header {
  margin: 0;
  margin-left: 139px;
  margin-bottom: 13px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.article__param-list {
  display: table;
  border-collapse: collapse;

  margin: 0;
  margin-left: 139px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;

  width: @column-mobile + 2px;

  //временно
  // max-height: 50px;
  // overflow: hidden;

  .debug();
}

.article__data {

  text-align: left;
}

.article__value {
  text-align: right;
}


.article__order-link {
  margin-top: 22px;
}

/* ************************************************************************************* */
@media (min-width: @width-tablet) {
  .article {
    position: relative;
    padding: 40px 38px 10px;
    padding-top: 125px;
    background-color: #f2f2f2;
  }

  .article__header {
    margin: 30px auto 0;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
  }

  .article__header br {
    display: none;
  }

  .article__image {
    top: auto;
    bottom: calc(100% - 125px);
    left: 50%;
    transform: translateX(-50%);

    z-index: 10;

    .debug();
  }

  .article__param-list {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;

    font-size: 16px;
    line-height: 16px;

    width: 100%;

    .debug();
  }

  .article__param-list tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .article__data,
  .article__value {
    padding: 0;
    padding-top: 9px;
    padding-bottom: 6px;
  }


  .article__order-link {
    margin: 0;
    margin-top: 33px;
    margin-bottom: 10px;
    // margin-top: 14px;
    width: calc(auto - 20px);
  }
}

/* *************************************************************************************************** */
@media (min-width: @width-desktop) {
  .article {
    // background-color: gold;
  }

  .article__image {
    bottom: calc(100% - 126px);
  }
}
