.before-after {
  display: block;

  // background-color: pink;
  .debug();
}

.before-after__image {
  display: block;
  margin: 0;
  margin-left: auto;

  &--before {

    .debug(lime);
  }

  &--after {
    display: none; // временно
  }
}

.before-after__control-panel {
  margin: 0;
  margin-top: 32px;

  // background-color: pink;
  .debug();
}

/* *********************************************************************** */
@media (min-width: @width-tablet) {
  .before-after__control-panel {
    margin: 0 auto;
    margin-top: 11px;
  }
}

/* *********************************************************************** */
@media (min-width: @width-desktop) {
  .before-after__control-panel {
    margin: 0;
    margin-top: 33px;
  }
}
