.before-after {
  display: block;
}

.before-after__image {
  display: block;
  margin: 0;
  padding: 0;

  &--before {
    // empty


    .debug();
  }

  &--after {
    display: none; // временно
  }
}
