.catalog-extra {
  padding: 20px;
}

.catalog-extra__header {
  margin: 0;
  padding: 20px 0 20px;
}

.catalog-extra__list {
  list-style: none;
  padding: 0;

  .debug(blue);
}

.catalog-extra__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(104, 183, 56);
  padding: 10px;
  width: 100%;
}

.catalog-extra__item {
  box-sizing: border-box;
  margin-bottom: 0;
  margin-top: -1px;
  padding-bottom: 25px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.catalog-extra__appeal {
  margin: 20px 20px 0;
  min-height: 290px;
}

@media (min-width: @width-tablet) {
  .catalog-extra {
    padding: 30px;

    box-sizing: border-box;
    .debug(green);
  }

  .catalog-extra__header {
    width: 100%;
    padding-left: 40px;
  }

  .catalog-extra__item {
    padding: 30px 40px;

    .debug();
  }

  .catalog-extra__appeal {
    margin: 20px 20px 0;
    min-height: 200px;
  }
}

@media (min-width: @width-desktop) {
  .catalog-extra {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .catalog-extra__list {
    margin: 0;
    flex-grow: 1;
  }

  .catalog-extra__item {
    padding: 0 0;
    min-height: 76px;
  }

  .catalog-extra__link {
    width: 245px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .catalog-extra__appeal {
    width: 245px;
    margin: 0;
  }
}
