.category {
  background-color: #f2f2f2;
}

.category__icon {
  display: block;
  width: 50px;
}

.category__title {
  text-transform: uppercase;
}

.category__text {
  // empty
}

.category__link {
  display: block;
  text-decoration: none;
  color: rgb(17, 17, 17);
  border-top: 1px solid #d9d9d9;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: calc(1ch + 1em);
    height: 1em;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 1ch 0.2em;
  }
}
