.category {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: @margin-mobile;
  padding-top: @margin-mobile + 10px;
  padding-bottom: @margin-mobile - 3px;

  // background-color: gold;
  .debug();
}

.category__icon {
  position: relative;
  box-sizing: content-box;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @color-accent;

  .debug();
}

.category__icon img {
  display: none; // временно
  max-height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-left: 1.7ch;
  padding-bottom: 10px;
}

.category__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  margin-top: 19px;
  margin-bottom: 21px;
}

.category__text br {
  display: none;
}

.category__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  flex-grow: 1;
  display: block;
  text-decoration: none;
  color: rgb(17, 17, 17);
  border-top: 1px solid #d9d9d9;
  padding-top: 20px;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    width: 4ch;
    height: 1em;
    margin-left: 1ch;

    // background-color: gold;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: 4px 3px;
    background-size: calc(4ch - 4px - 4px);
    background-repeat: no-repeat;
  }
}

@media (min-width: @width-tablet) and (max-width: @width-desktop - 1px) {
  .category {
    position: relative;
    display: block;
    padding: 50px;
  }

  .category__icon {
    position: absolute;
    top: 90px;
    right: 62px;
    width: 200px;
    height: 200px;
  }

  .category__icon img {
    // empty
  }

  .category__title {
    font-size: 36px;
    font-weight: normal;
    margin-top: 16px;
    margin-left: 3px;

    padding: 0;
  }

  .category__text {
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    width: auto;
    margin-top: calc(1em + 1px);
    margin-left: 2px;
    margin-right: 230px;

    .debug();
  }

  .category__text br {
    display: inline-block;
  }


  .category__link {
    font-size: 20px;
    border: none;
    margin-top: 35px;
    margin-left: 2.5px;
    margin-bottom: 15px;
  }
}

@media (min-width: @width-desktop) {
  .category {
    padding: 50px;
    padding-top: calc(50px - 3px);
    padding-left: calc(50px + 2px);
    padding-bottom: 60px;
  }

  .category__icon {
    width: 100px;
    height: 100px;
  }

  .category__title {
    font-size: 36px;
    font-weight: normal;
    padding-left: 30px;
    padding-bottom: 5px;
  }

  .category__text {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px;
  }

  .category__link {
    font-size: 20px;
    padding: 0;
    margin-top: 10px;
    border: none;
  }
}
