.contacts {
  background-color: white;

  &__title {
    display: block;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    width: 150px;
    margin-left: 20px;
    margin-top: 0;
  }

  &__address {
    display: block;
    margin-right: 20px;
    margin-top: 30px;

    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-style: normal;
  }
}
