.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  background-color: #f2f2f2;

  &--index {
    background-color: white;
  }

  .debug();
}

.contacts__header {
  box-sizing: border-box;

  padding: 0;
  padding-bottom: @margin-mobile + 4px;
  padding-top: 29px;

  display: flex;
  flex-direction: row;

  .debug();
}

.contacts__title {
  display: block;

  box-sizing: border-box;
  width: 50%;

  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  padding-left: @margin-mobile - 3px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  .debug(blue);
}

.contacts__address {
  display: block;

  box-sizing: border-box;
  width: 50%;

  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;

  color: #444444;

  .debug(blue);
}

.contacts__map {
  flex-shrink: 0;

  box-sizing: border-box;
  width: 100%;

  // overflow: hidden; // временно
  // visibility: hidden;

  // background: lime;
  .debug(green);
}

@media (max-width: @width-tablet - 0.01px) {
  .contacts__address br {
    display: none;
  }
}

/* ****************************************************************** */
@media (min-width: @width-tablet) {
  .contacts {
    margin: 0;
    padding: 0;
    align-items: stretch;
  }

  .contacts__header {
    padding: 0;
    padding-top: @margin-tablet;
    min-height: 200px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;

    width: calc(50% - @margin-tablet); /* stylelint-disable-line function-calc-no-invalid */

    margin: 0;
    margin-left: @margin-tablet;
    padding: 0;
    padding-top: 70px - @margin-tablet - 3px;
    padding-left: 70px - @margin-tablet + 1px;
    padding-right: 150px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    width: calc(50% - @margin-tablet); /* stylelint-disable-line function-calc-no-invalid */

    margin: 0;
    margin-right: @margin-tablet;
    padding: 0;
    padding-top: 70px - @margin-tablet - 5px;
    padding-right: 70px - @margin-tablet + 2px;
    padding-left: 150px;
  }
}

/* ********************************************************************* */
@media (min-width: @width-desktop) {
  .contacts {
    position: relative;
    display: block;
    padding: 0;
  }

  .contacts__header {
    position: absolute;

    margin: 0;
    padding: 0;
    padding-top: 65px;

    box-sizing: border-box;
    width: 2 * (@column-desktop + @margin-desktop);
    height: 200px;

    left: calc(50% - 2 * @column-desktop - 3 * @margin-desktop); /* stylelint-disable-line function-calc-no-invalid */
    top: 92px;

    z-index: 10;

    justify-content: space-between;

    background-color: white;
  }

  .contacts__title {
    margin: 0;
    padding: 0;
    padding-left: 76px;
    width: @column-desktop;
  }

  .contacts__address {
    margin: 0;
    padding: 0;
    padding-right: 78px;
    width: @column-desktop;
    text-align: left;
  }


  .contacts__map {
    position: relative;
    height: 400px;
    overflow: visible;
  }
}
