.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;

  color: rgb(68, 68, 68);
  text-decoration: none;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
  // min-width: 164px;

  &::after {
    content: "";
    display: block;

    box-sizing: border-box;
    width: 50px;
    height: 40px;

    background-color: transparent;
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 16px 2px;

    .debug();
  }

  .debug();
}

/* ******************************************************************** */
@media (min-width: @width-tablet) {
  .copyright {
    margin-right: @margin-tablet;
  }
}

/* ******************************************************************** */
@media (min-width: @width-desktop) {
  .copyright {
    margin-right: @margin-desktop;
  }
}
