.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  font: normal 16px/16px "Arial", sans-serif;
  letter-spacing: -0.2px;

  color: #444444;
  text-decoration: none;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
  // min-width: 164px;

  &:hover {
    color: @color-accent;
  }

  &:active {
    color: @color-accent;
    opacity: 0.3;
  }

  .debug();
}

.copyright__icon-title {
  color: inherit;
}


.copyright__icon-container {
  position: relative;
  overflow: hidden;

  box-sizing: border-box;
  width: 50px;
  height: 40px;

  color: inherit;

  .debug();
}

.copyright__icon {
  position: absolute;
  right: -6px;
  top: 1px;

  color: inherit;
  fill: currentColor;


  .debug(lime);
}


/* ******************************************************************** */
@media (min-width: @width-tablet) {
  // empty
}

/* ******************************************************************** */
@media (min-width: @width-desktop) {
  .copyright {
    // empty
  }
}
