.first-screen {
  position: relative;

  padding: 0;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .debug(lime);
}

.first-screen__background {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;

  width: 320px;
  height: 305px;

  background-color: @color-accent;
}

.first-screen__title {
  font: normal 36px/36px "Oswald", "Arial", sans-serif;

  padding: 0;
  margin: 0;
  text-align: center;

  max-width: 100%; // ie

  color: @color-text-inverse;

  .debug();
}

.first-screen__text {
  font: normal 14px/14px "Oswald", "Arial", sans-serif;
  text-transform: uppercase;

  margin: 0;
  margin-top: 26px;
  padding: 0;
  text-align: center;

  color: @color-text-inverse;

  .debug();
}

.first-screen__image {
  display: block;
  margin: 0;
  margin-top: 28px;
  padding: 0;
}

.first-screen__link {
  font: normal 14px/18px "Oswald", "Arial", sans-serif;

  align-self: stretch;

  margin: 0;
  margin-left: @margin-mobile;
  margin-right: @margin-mobile;
  margin-top: 3px; // по макету вплотную к картинке
  margin-bottom: @margin-mobile;
  padding: 11px;
}

/* ***************************************************************************** */
@media (min-width: @width-tablet) {
  .first-screen {
    align-items: flex-start;
    position: relative;

    padding: @margin-tablet;
    padding-top: @margin-tablet + 22px;
    padding-left: @margin-tablet + 90px - 2px;

    background-image: none;

    min-height: 835px + @margin-tablet;
  }

  .first-screen__background {
    display: none;
  }

  .first-screen__title {
    font-size: 60px;
    line-height: 60px;

    margin: 0;

    color: black;
    width: 430px;
    text-align: left;
  }

  .first-screen__text {
    font-size: 20px;
    line-height: 20px;

    margin: 0;
    margin-top: 42px;
    color: black;
    width: 430px;
    text-align: left;
  }

  .first-screen__image {
    position: absolute;
    bottom: 2px;
    right: @margin-tablet;

    height: 609px;

    z-index: -10;
  }

  .first-screen__link {
    font-size: 20px;
    line-height: 20px;

    width: 245px;

    text-align: left;

    margin: 0;
    margin-top: 48px;
    margin-left: 1px;

    padding: 16px 25px;
  }
}

/* ************************************************************************* */
@media (min-width: @width-desktop) {
  .first-screen {
    position: relative;

    padding: @margin-desktop;
    padding-left: @margin-desktop + 80px;
    padding-top: @margin-desktop + 20px;

    min-height: 696px - 158px // высота фоновой картинки - высота page_header;
  }

  .first-screen__title {
    margin: 0;
    margin-top: 5px;
    padding: 0;

    color: black;
    width: 430px;
  }

  .first-screen__text {
    margin: 0;
    margin-top: 40px;

    color: black;
  }

  .first-screen__image {
    position: absolute;
    top: -44px;
    right: 258px;

    height: 499px;
  }

  .first-screen__link {
    margin: 0;
    margin-top: 53px;
  }
}
