.first-screen {
  box-sizing: border-box;
  text-align: center;

  // чтобы внешние отступы внутренних элементов не выпадали.
  padding-top: 5px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  // background-color: pink;
  .debug(lime);
}

.first-screen__title {
  font-weight: 100;
  color: @color-text-inverse;
  margin: 23px;
}

.first-screen__text {
  color: @color-text-inverse;
  margin: 23px;
}

.first-screen__image {
  // empty
}

.first-screen__link {
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none;
  color: @color-text-inverse;
  background-color: @color-accent;
  padding: 10px;
  margin: @margin-mobile;
  margin-top: -2px; // по макету вплотную к картинке
  margin-bottom: @margin-mobile;
}

@media (min-width: @width-tablet) {
  .first-screen {
    position: relative;
    margin: @margin-tablet;

    // в макете отступ сделан картинкой.
    // поскольку отступ картинкой не схлопнется, делаю отступ отрицательным,
    // чтобы не менять отступ следующего блока;
    margin-bottom: -@margin-tablet;

    background-image: none;

    // Оказывается, если поставить высоту блока через min-height, а не через height, то
    // внешний отступ последнего блока в потоке (.first-screen__link) начинает выпадать из родительского блока,
    // как будто высота вообще не указана, несмотря на то, что до нижней границы родительского блока еще очень
    // много места (!). И это не баг, это происходит во всех браузерах.
    // P.S. Добавил снизу внутренний отступ и вернул min-height;
    padding-bottom: 5px;
    min-height: 835px;
  }

  .first-screen__title {
    color: black;
    width: 430px;
    text-align: left;
    margin: 18px;
    margin-left: 87px;
  }

  .first-screen__text {
    color: black;
    text-align: left;
    margin: 35px;
    margin-left: 88px;
  }

  .first-screen__image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 609px;
    z-index: -10;
  }

  .first-screen__link {
    width: 245px;
    margin: 45px;
    margin-left: 90px;
  }
}

@media (min-width: @width-desktop) {
  .first-screen {
    box-sizing: border-box;
    position: relative;
    margin: @margin-desktop;
    margin-top: 30px;
    margin-bottom: 0;
    min-height: 696px - 160px;
  }

  .first-screen__title {
    color: black;
    width: 430px;
    margin: 57px 80px 35px;
  }

  .first-screen__text {
    color: black;
    margin: 35px 80px 35px;
  }

  .first-screen__image {
    position: absolute;
    top: -20px;
    right: 220px;
    height: 499px;
  }

  .first-screen__link {
    margin: 50px 80px 50px;
    width: 245px;
  }
}
