.first-screen {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 1em;
}

.first-screen__title {
  font-size: 36px;
  line-height: 36px;
}

.first-screen__text {
  text-transform: uppercase;
}

.first-screen__link {
  display: block;
  text-transform: uppercase;
}
