.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  padding-top: 28px;

  .debug();
}

.form__title {
  margin: 0;
  margin-left: @margin-mobile;
  padding: 0;
}

.form__text {
  font: normal 14px/18px "Oswald", "Arial", sans-serif;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
  margin-left: @margin-mobile;
  margin-top: 36px;
  margin-bottom: 26px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  margin: 0;
  padding: 0;

  border: none;

  &--comment {
    margin-top: 25px;
  }

  &--extra {
    margin-top: 25px;
  }

  &--final {
    margin-top: 25px;
  }

  // background-color: pink;
  .debug();
}

.form__legend {
  margin: 0;
  margin-bottom: 20px;
  padding: 4px @margin-mobile 0;

  font: normal 24px/24px "Oswald", "Arial", sans-serif;
}

.form__row {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  &--final {
    margin-top: 10px;
  }

  .debug(lime);
}

.form__row--main-info .form__row-item {
  margin-bottom: @margin-mobile + 4px;

  box-sizing: border-box;
  width: calc(100%);
}

.form__row--contacts .form__row-item {
  box-sizing: border-box;
  width: calc(100%);
}

.form__row--comment .form__row-item {
  box-sizing: border-box;
  width: calc(100%);
}

.form__row--extra .form__row-item {
  box-sizing: border-box;
  width: calc(100%);
}

.form__row--final .form__row-item {
  box-sizing: border-box;
  width: calc(100%);
}

.form__row-item {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  .debug();
}

.form__group {
  margin: 0;
  padding: 0;
  padding-left: @margin-mobile;
  padding-right: @margin-mobile;
  padding-top: 14px;

  // background-color: pink;
  .debug();
}

.form__radio-group {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 13px;

  border: 1px solid #e6e6e6;
}

.form__checkbox-area {
  // empty
}

.form__submit {
  align-self: stretch;
  margin: 0;
  padding: 0 @margin-mobile;
}

.form__submit input {
  font: normal 16px/20px "Oswald", "Arial", sans-serif;
  text-transform: uppercase;

  padding: 9px;
  padding-bottom: 10px;
  margin: 0;

  text-align: center;
  text-decoration: none;
  color: @color-text-inverse;
  background-color: @color-accent;

  border: none;
}

.form__note {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 33px;
  text-align: center;
}

/*  ********************************************************************************* */
@media (min-width: @width-tablet) {
  .form {
    margin: 0;
    padding: 0 @margin-tablet;
    padding-top: 53px;
  }

  .form__title {
    margin-left: 0;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;

    padding: 0;
    margin: 0;
    margin-left: 40px;
    margin-top: 55px;
    margin-bottom: 65px;
  }

  .form__row {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    padding-left: 41px;
    padding-right: 38px;
  }

  .form__row--contacts {
    margin: 0;
    margin-top: 77px;
  }

  .form__row--comment {
    margin: 0;
    margin-top: 77px;
  }

  .form__row--extra {
    padding: 0;
    margin: 0;
    margin-top: 45px;
  }

  .form__row--final {
    padding: 0;
    margin: 0;
    margin-left: 43px;
    margin-right: 43px;
    margin-bottom: 60px;
  }

  .form__row--main-info .form__row-item {
    margin-bottom: 53px;
  }

  .form__row--contacts .form__row-item {
    box-sizing: border-box;
    width: calc(100%);
  }

  .form__row--extra .form__row-item {
    box-sizing: border-box;
    width: calc(50% - @margin-tablet - 40px); /* stylelint-disable-line function-calc-no-invalid */
  }

  .form__row--extra .form__row-item:nth-child(2n+1) {
    margin: 0;
    margin-left: 40px;
    margin-right: @margin-tablet;
  }

  .form__row--extra .form__row-item:nth-child(2n) {
    margin: 0;
    margin-left: @margin-tablet;
    margin-right: 40px;
  }


  .form__row--final .form__row-item {
    box-sizing: border-box;
    width: calc(50%);
  }

  .form__group {
    padding: 0;
    padding-top: 0;
    margin-bottom: 20px;
  }

  .form__radio-group {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: 0;
  }

  .form__legend {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-left: 40px;

    font-size: 36px;
    line-height: 36px;
  }

  .form__submit {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-right: 32px;
  }

  .form__submit input {
    font-size: 20px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 17px;
  }

  .form__note {
    text-align: left;
    padding-left: 30px;
  }
}

/*  ********************************************************************************* */
@media (min-width: @width-desktop) {
  .form {
    margin: 0;
    padding: 0;
    padding-top: 28px;
  }

  .form__title {
    margin-left: @margin-desktop;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;

    padding: 0;
    margin: 0;
    margin-left: @margin-desktop;
    margin-top: 55px;
    margin-bottom: 66px;
  }

  .form__fieldset {
    // empty
    &--comment {
      margin-top: 0;
    }

    &--extra {
      margin-top: 0;
    }

    &--final {
      margin-top: 41px;
      margin-bottom: 75px;
    }
  }

  .form__row {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
  }

  .form__row--contacts {
    padding: 0;
    margin: 0;
    margin-top: 75px;
  }

  .form__row--comment {
    padding: 0;
    margin: 0;
    margin-top: 72px;
  }

  .form__row--extra {
    padding: 0;
    margin: 0;
    margin-top: 63px;
  }

  .form-row-item {
    // empty
  }

  .form__row--main-info .form__row-item {
    margin: 0 @margin-desktop;

    box-sizing: border-box;
    width: calc(50% - 2 * @margin-desktop); /* stylelint-disable-line function-calc-no-invalid */
  }

  .form__row--contacts .form__row-item {
    margin: 0 @margin-desktop;

    box-sizing: border-box;
    width: calc(50% - 2 * @margin-desktop); /* stylelint-disable-line function-calc-no-invalid */
  }

  .form__row--comment .form__row-item {
    margin: 0 @margin-desktop;

    box-sizing: border-box;
    width: calc(100% - 2 * @margin-desktop); /* stylelint-disable-line function-calc-no-invalid */
  }

  .form__row--extra .form__row-item {
    box-sizing: border-box;
    width: calc(25% - 2 * @margin-desktop); /* stylelint-disable-line function-calc-no-invalid */
  }

  .form__row--extra .form__row-item:nth-child(2n) {
    margin: 0 @margin-desktop;
  }

  .form__row--extra .form__row-item:nth-child(2n+1) {
    margin: 0 @margin-desktop;
  }

  .form__legend {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    padding-left: 40px;
  }

  .form__submit {
    padding: 0;
    margin: 0;
    padding-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
