.form {
  padding: 20px;
}

.form__title {
  margin: 0;
}

.form__text {
  .section-title3();
}

.form__group {
  .section-title3();
}

.form__group textarea,
.form__group input {
  .section-title3();
}

.form__group input {
  box-sizing: border-box;
  height: 45px;
  padding: 15px;
  margin-bottom: 10px;
}

.form__radio-group {
  // empty
}

.form__radio-area {
  .section-title3();
}

.form__fieldset {
  margin: 30px 0;
  padding: 0;
}

.form__legend {
  line-height: 1em;
  margin: 30px 0;
}

.form__checkbox-area {
  .section-title3();
}

.form__checkbox-area label {
  .section-title3();
}

.form__submit {
  .section-title3();
}

.form__note {
  text-align: center;
}

.form fieldset {
  border: none;
}
