.gift {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: 280px 289px;
  background-repeat: no-repeat;


  padding: 0;
  // padding-top: @margin-mobile;

  .debug();
}

.gift__title {
  // empty
}

.gift__icon {
  display: block;
  margin: 0 auto;
  padding: 63px 0;
}

.gift__text {
  display: block;
  width: 170px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;

  .debug();
}

@media (min-width: @width-tablet) {
  .gift {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px 200px;

    // background-image: none;
    // background-color: gold;
  }

  .gift__icon {
    margin: 0;
    position: relative;
    top: -5px;
    left: -30px;
  }

  .gift__text {
    position: relative;
    top: 2px;
    left: 6px;
    margin: 0;
    text-align: left;
  }
}

@media (min-width: @width-desktop) {
  .gift {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 245px 289px;

    min-height: initial;
  }

  .gift__icon {
    margin: 0;

    position: relative;
    top: 0;
    left: 0;
  }

  .gift__text {
    position: relative;
    top: 0;
    left: 0;

    margin: 0;

    text-align: center;
  }
}
