.gift {
  position: relative;

  .debug();
}

.gift__background-image {
  width: 280px;
  height: 289px;
}

.gift__background {
  position: absolute;
  z-index: -10;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background-color: @color-accent;
}

.gift__title {
  // empty
}

.gift__icon {
  display: block;
  margin: 0 auto;
  padding: 63px 0;
}

.gift__text {
  display: block;
  width: 170px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;

  .debug();
}

@media (min-width: @width-tablet) {
  .gift {
    position: relative;
  }

  .gift__background-image {
    width: 708px;
    height: 200px;
  }

  .gift__icon {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;

    left: 91px;
    top: 65px;
  }

  .gift__text {
    text-align: left;
    position: absolute;
    right: 115px;
    top: 72px;
  }
}

@media (min-width: @width-desktop) {
  .gift {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .gift__background-image {
    width: 245px;
    height: 289px;
  }

  .gift__icon {
    position: static;
    margin-top: 63px;
    margin-bottom: 63px;
  }

  .gift__text {
    position: static;
    text-align: center;
  }
}
