.logo {
  box-sizing: border-box;
  display: block;
  width: 190px;
  height: 38px;

  background: url("../img/logo-mobile.svg") center no-repeat;

  outline: 1px solid red;
}

.logo__image {
  .visually-hidden();
}

.logo__title {
  .visually-hidden();
}
