.logo {
  box-sizing: border-box;
  display: block;
  width: 190px;
  height: 38px;
  background: url("../img/logo-mobile.svg") center no-repeat;
}

.logo__image {
  .visually-hidden();
}

.logo__title {
  .visually-hidden();
}

@media (min-width: @width-tablet) {
  .logo {
    width: 172.3px;
    height: 57.1px;
    background: url("../img/logo-tablet.svg") center no-repeat;
  }
}

@media (min-width: @width-desktop) {
  .logo {
    width: 202px;
    height: 59.5px;
    background: url("../img/logo-desktop.svg") center no-repeat;
  }
}
