.page-footer {
  background-color: rgb(242, 242, 242);

  &__title {
    background-image: url("../../img/logo-footer.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: content-box;
    height: 100px;
    padding: 0 80px;
    margin-top: 0;
  }

  &__social {
    //empty
  }

  &__copyright {
    //empty
  }
}
