.page-header {
  position: relative;
  background-color: lime;
}

.page-header__logo {
  margin-left: 20px;
}

.page-header__nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
}
