.page-footer {
  margin: 0;
  padding: 0;
}

.page-footer__bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: rgb(242, 242, 242);
}

.page-footer__contacts {
  margin: 0;
  flex-basis: 100%;
}

.page-footer__title {
  background-image: url("../img/logo-footer.svg");
  background-repeat: no-repeat;
  background-position: 50% 55%;
  background-size: 127.8px 23.4px;

  box-sizing: border-box;
  height: 95px;

  margin: 0 @margin-mobile;
  padding: 0;

  flex-basis: 100%;

  // background-color: pink;
  .debug();
}

.page-footer__social {
  margin: 0 @margin-mobile;
  flex-basis: 100%;
}

.page-footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;


  margin: 0 @margin-mobile;
  padding: 0;
  padding-top: @margin-mobile;
  padding-bottom: @margin-mobile;

  flex-basis: 100%;

  .debug();
}

/* ***************************************************************** */
@media (min-width: @width-tablet) {
  .page-footer__title {
    margin: 0;
    margin-left: @margin-tablet;
    flex-basis: (@width-tablet - 2*@margin-tablet) / 3;
    flex-grow: 1;
    flex-shrink: 0;
    height: 150px;

    background-position: 1% 51%;
  }

  .page-footer__social {
    margin: 0;
    flex-basis: (@width-tablet - 2*@margin-tablet) / 3;
    flex-grow: 1;
  }

  .page-footer__copyright {
    margin: 0;
    flex-basis: (@width-tablet - 2*@margin-tablet) / 3;
    flex-grow: 1;

    align-items: flex-end;
  }
}

/* *********************************************************************** */
@media (min-width: @width-desktop) {
  .page-footer__bottom-container {
    position: relative;
  }

  .page-footer__bottom-container::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    z-index: -10;

    background-color: inherit;

    left: calc(@width-desktop / 2 - 50vw); /* stylelint-disable-line function-calc-no-invalid */
    // Предотвращение появления горизонтального скроллбара при ширине блока равной ширине вьюпорта
    // * работает только при выравнивании блока по центру экрана *
    @vertical-scrollbar-width: 17px;
    width: calc(100vw - @vertical-scrollbar-width/2); /* stylelint-disable-line function-calc-no-invalid */
  }
}
