.page-header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  background-color: transparent;
}

.page-header__logo {
  height: 65px;
  margin-left: 20px;
}

.page-header__main-nav {
  color: #111111;
  background-color: inherit;
}

.page-header__nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
}

@media (min-width: @width-tablet) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo {
    margin-left: 30px;
  }

  .page-header__nav-toggle {
    display: none;
  }
}

@media (min-width: @width-desktop) {
  .page-header {
    padding-top: 70px;
  }

  .page-header__main-nav {
    color: white;
  }

  .page-header__logo {
    margin-left: 110px;
  }
}
