.page-header {
  margin: 0 @margin-mobile;

  // background-color: gold;
  // outline: 1px dashed ;
}

.page-header__logo {
  height: 65px;
}

.page-header__main-nav {
  display: none; // временно
}

.page-header__nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
}

@media (min-width: @width-tablet) {
  .page-header {
    margin-left: @margin-tablet;
    margin-right: @margin-tablet;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo {
    // empty
  }

  .page-header__nav-toggle {
    display: none;
  }

  .page-header__main-nav {
    display: block;
  }
}

@media (min-width: @width-desktop) {
  .page-header {
    margin: 50px @margin-desktop @margin-desktop;
    min-height: 70px;

    &--accent {
      position: relative;

      // background: gold;
    }

    &--accent::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: -50px;
      height: 696px;

      @magic-number-for-hiding-vertical-scrollbar-from-1300-to-1440: 9px;
      width: calc(50vw - @magic-number-for-hiding-vertical-scrollbar-from-1300-to-1440);

      background-image:
        url("../img/index-background-desktop@1x.jpg"),
        linear-gradient(to right, @color-accent 720px, transparent 720px, transparent);
      background-repeat: no-repeat;
      z-index: -10;
    }

    &--accent .page-header__main-nav {
      position: relative;
      color: white;
    }
  }

  .page-header__main-nav {
    // empty
  }

  .page-header__logo {
    // empty
  }
}
