.site-list {
  list-style: none;
  padding: 0;
}

.site-list__item {
  text-align: center;
  text-transform: uppercase;
  padding: 1em;
  border: 1px solid grey;
  margin-top: -1px;
}

.site-list__item > a {
  text-decoration: inherit;
  color: inherit;
}
