.site-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    font-family: "Oswald", sans-serif;
    font-size: 20px;

    text-align: center;
    text-transform: uppercase;
    padding: 16px 16px 17px 16px;
    border: 1px solid grey;
    margin-top: -1px;
  }

  &__item a {
    text-decoration: none;
    color: #111111;
  }
}
