.social {
  list-style: none;
  padding: 0;
  text-align: center;

  &__item {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;

    &--vk {
      background-image: url("../../img/icon-vk.svg");
    }

    &--insta {
      background-image: url("../../img/icon-insta.svg");
    }

    &--fb {
      background-image: url("../../img/icon-fb.svg");
    }
  }
}
