<header class="container contacts__header">
  <h2 class="contacts__title">Приглашаем <br>к сотрудничеству дилеров!</h2>
  <address class="contacts__address">
    ул. Большая Конюшенная, д.&nbsp;19/8<span class="new-line-m new-line-t new-line-d"></span>
    <span class="new-line-t new-line-d"></span>
    Санкт-Петербург
  </address>
</header>

<div class="contacts__map map">
  <div class="map__background">
    <picture>
      <source media="(min-width: 1300px)" srcset="img/bg-map-desktop@1x.webp 1x, img/bg-map-desktop@2x.webp 2x"
        type="image/webp">
      <source media="(min-width: 1300px)" srcset="img/bg-map-desktop@1x.png 1x, img/bg-map-desktop@2x.png 2x">
      <source media="(min-width: 768px)" srcset="img/bg-map-tablet@1x.webp 1x, img/bg-map-tablet@2x.webp 2x"
        type="image/webp">
      <source media="(min-width: 768px)" srcset="img/bg-map-tablet@1x.png 1x, img/bg-map-tablet@2x.png 2x">
      <source srcset="img/bg-map-mobile@1x.webp 1x, img/bg-map-mobile@2x.webp 2x" type="image/webp">
      <img class="map__image" src="img/bg-map-mobile@1x.png" srcset="img/bg-map-mobile@2x.png 2x" alt="карта">
    </picture>
  </div>
  <div class="map__yandex" id="map-yandex"></div>
</div>
