<footer class="page-footer">

  <div class="container page-footer__container">
    <div class="page-footer__logo">
      <a href="index.html" class="logo-footer">
        <img src="img/logo-footer.svg" width="128" height="24" alt="Cat Energy">
      </a>
    </div>
    <ul class="page-footer__social social">
      <li class="social__item">
        <a href="https://vk.com">
          <svg class="social__icon social__icon--vk" width="22" height="12" focusable="false">
            <use xlink:href="#icon-vk"></use>
          </svg>
          <span class="visually-hidden">Вконтакте</span>
        </a>
      </li>
      <li class="social__item">
        <a href="https://www.instagram.com">
          <svg class="social__icon social__icon--insta" width="16" height="16" focusable="false">
            <use xlink:href="#icon-insta"></use>
          </svg>
          <span class="visually-hidden">Инстаграмм</span>
        </a>
      </li>
      <li class="social__item">
        <a href="https://www.facebook.com">
          <svg class="social__icon social__icon--fb" width="10" height="19" focusable="false">
            <use xlink:href="#icon-fb"></use>
          </svg>
          <span class="visually-hidden">Фэйсбук</span>
        </a>
      </li>
    </ul>
    <div class="page-footer__copyright">
      <a class="copyright" href="https://htmlacademy.ru/intensive/adaptive">
        <span class="copyright__title">HTML Academy</span>
        <div class="copyright__icon-container">
          <svg class="copyright__icon" width="40" height="40" focusable="false">
            <use xlink:href="#icon-htmlacademy"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>

</footer>
