@debug: 0;

.debug(@border-color: red; @background-color: transparent) when (@debug = 1) {
  outline: 1px dashed @border-color;
}

/* stylelint-disable */


.container when (@debug = 1) {
  margin: 0;
}

@media (min-width: @width-desktop) {
  .container when (@debug = 1) {
    margin-left: 70px;
  }
}

/* stylelint-enable */
