@debug: 1;

.debug(@border-color: red; @background-color: transparent) when (@debug = 1) {
  outline: 1px dashed @border-color;
}

/* stylelint-disable */

.container {
  margin: 0;
}
@media (min-width: @width-desktop) {
  .container {
    margin-left: 70px;
  }
}

/* stylelint-enable */
