// http://css.yoksel.ru/cells/
.grid-gradient() {
  background:
    linear-gradient(mediumvioletred, transparent 1px),
    linear-gradient(90deg, mediumvioletred, transparent 1px);
  background-size: 10px 10px;
  background-position: center center;
}

// https://css-tricks.com/full-width-containers-limited-width-parents/
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
