@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswaldregular.woff2"),
    url("../fonts/oswaldregular.woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswaldmedium.woff2"),
    url("../fonts/oswaldmedium.woff");
  font-weight: bold;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background-color: white;
}

// для Firefox;
input:invalid {
  box-shadow: none;
}
