@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswaldregular.woff2"),
    url("../fonts/oswaldregular.woff");
  font-weight: normal;
}

@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswaldmedium.woff2"),
    url("../fonts/oswaldmedium.woff");
  font-weight: bold;
}

html {
  // background-color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  width: @width-mobile;
  padding: 0 0;
  margin: 0 auto;

  outline: 1px dashed red;
}

@media (min-width: @width-tablet) {
  .container {
    width: @width-tablet;
  }
}

@media (min-width: @width-desktop) {
  .container {
    width: @width-desktop;
  }
}

img {
  max-width: 100%;
  height: auto;
}
