.form-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .debug();
}

/* ***************************************************************** */
@media (min-width: @width-tablet) {
  .form-section {

    .debug();
  }
}

/* ***************************************************************** */
@media (min-width: @width-desktop) {
  .form-section {
    // empty
  }
}
