.textarea {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  .debug();
}

.textarea__label {
  flex-grow: 0;
  color: #222222;
}

.textarea__self {
  flex-grow: 1;

  font: normal 16px/18px "Oswald", "Arial", sans-serif;
  text-transform: uppercase;

  padding: 12px 14px;
  padding-right: 13px;

  color: #444444;
  border: 1px solid rgba(#cdcdcd, 0.5);

  &:hover {
    border-color: #cdcdcd;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }

  &:active,
  &:focus {
    outline: none;
    border: 2px solid currentColor;
  }
}


/* ******************************************************************************** */
@media (min-width: @width-tablet) {
  .textarea {
    padding: 0;
    padding-top: 12px;
    padding-bottom: 14px;
    margin: 0;

    box-sizing: border-box;
    height: 200px;
  }

  .textarea__self {
    font: normal 20px/30px "Oswald", "Arial", sans-serif;

    padding: 10px 17px;
  }
}

/* ******************************************************************************** */
@media (min-width: @width-desktop) {
  .textarea {
    padding: 12px 0 14px;
    margin: 0;

    box-sizing: border-box;
    height: 200px;
  }

  .textarea__self {
    // empty
  }
}
