.textbox {
  position: relative;

  padding: 0;
  padding-top: 7px;
  padding-bottom: 7px;

  display: flex;
  align-items: baseline;
}

.textbox__label {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;

  font: normal 16px/18px "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #222222;

  padding: 0;
  padding-right: 12px;
}

// для IE, чтобы выключить подсветку красным invalid полей
input.textbox__input {
  outline: none;
}

.textbox__input {
  display: block;

  flex-grow: 1;
  width: 0;

  font: normal 16px/18px "Oswald", "Arial", sans-serif;
  text-transform: uppercase;

  padding: 15px;
  padding-top: 13px;
  margin: 0;

  height: 45px;

  color: #444444;
  border: 1px solid rgba(#cdcdcd, 0.5);

  &--icon {
    padding-right: 15px + 25px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    outline: none;
    border: 2px solid currentColor;
  }

  // autoprefixer тут не работает по непонятной причине
  &:invalid:not(:-ms-input-placeholder) {
    outline: none;
    border: 2px solid #ff8282;
  }

  // autoprefixer тут не работает по непонятной причине
  &:focus:not(:-ms-input-placeholder) {
    outline: none;
    border: 2px solid currentColor;
  }

  &:invalid:not(:placeholder-shown) {
    outline: none;
    border: 2px solid #ff8282;
  }

  &:focus:not(:placeholder-shown) {
    outline: none;
    border: 2px solid currentColor;
  }

}

.textbox__input { /* stylelint-disable-line no-duplicate-selectors */
  &:hover + .textbox__icon {
    // empty
  }

  &:focus + .textbox__icon {
    fill: @color-accent;
  }

  // autoprefixer тут не работает по непонятной причине
  &:invalid:not(:-ms-input-placeholder) + .textbox__icon {
    fill: #ff8282;
  }

  // autoprefixer тут не работает по непонятной причине
  &:focus:not(:-ms-input-placeholder) + .textbox__icon {
    fill: @color-accent;
  }

  &:invalid:not(:placeholder-shown) + .textbox__icon {
    fill: #ff8282;
  }

  &:focus:not(:placeholder-shown) + .textbox__icon {
    fill: @color-accent;
  }

}

.textbox__icon {
  position: absolute;

  fill: #222222;


  &--email {
    right: 15px;
    top: 21px;
  }

  &--phone {
    right: 12px;
    top: 19px;
  }
}


/* *********************************************************************************************** */
@media (min-width: @width-tablet) {
  .textbox {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .textbox__label {
    margin: 0;
    padding: 0;
    padding-right: 15px;

    font-size: 20px;
    line-height: 20px;
  }

  .textbox__input {
    font-size: 20px;
    line-height: 20px;

    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;

    height: 52px;

    &--icon {
      padding-right: 15px + 30px;
    }
  }

  .textbox__icon {
    position: absolute;

    &--email {
      top: 30px;
    }

    &--phone {
      top: 27px;
    }
  }
}
